<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="real-time-product-list"></ul>

    <form id="product-form">
        <input type="text" id="title" placeholder="Título" required />
        <input type="text" id="description" placeholder="Descripción" required />
        <input type="text" id="code" placeholder="Código" required />
        <input type="number" id="price" placeholder="Precio" required />
        <input type="number" id="stock" placeholder="Stock" required />
        <button type="submit">Agregar Producto</button>
    </form>

    <script>
        const socket = io();

        
        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('real-time-product-list');
            productList.innerHTML = ''; 
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - $${product.price}`;
                productList.appendChild(li);
            });
        });

        
        document.getElementById('product-form').addEventListener('submit', (e) => {
            e.preventDefault();
            const newProduct = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                code: document.getElementById('code').value,
                price: parseFloat(document.getElementById('price').value),
                stock: parseInt(document.getElementById('stock').value)
            };
            socket.emit('addProduct', newProduct); 
            e.target.reset(); 
        });
    </script>
</body>
</html>